/**********
BASE STYLES
**********/

* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

a {
	color: $links;
	&:hover {
    	color: $linkHover;
	}
}

h2 {
    @extend %family;
}

h1 {
    @extend %family;
    color: $text;
}


h3 {
    @extend %family;
}

p {
    font-family: $arimo;
    font-size: $pSize;
    line-height: 140%;
    font-weight: lighter;
}

li {
    font-family: $arimo;
    font-weight: 700;
    font-size: $liSize;
}
