@mixin mediaQuery($constraint) {

  @if $constraint == $tablet {

    @media #{$tablet} {
      @content;
    }

  } @else if $constraint == $desktop {

    @media #{$desktop} {
      @content;
    }

  } 

}

@mixin transitions($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}