// Color Pallete

$links: black;
$linkHover: tomato;
$text: white;
$themeColor: lightsteelblue;

// Font Family

$arimo: 'Arimo', sans-serif;

// Font Size

$pSize: 1.1em;
$liSize: 1.2em;

// Media Queries
$tablet: "(min-width: 700px)";
$desktop: "(min-width: 1024px)";