// Color Pallete

$links: black;
$linkHover: tomato;
$text: white;
$themeColor: lightsteelblue;

// Font Family

$arimo: 'Arimo', sans-serif;

// Font Size

$smallSize: .95em;
$defSize: 1.0em;
$pSize: 1.1em;
$liSize: 1.2em;
$aSize: 1.3em;

// Media Queries
$tablet: "(min-width: 700px)";
$desktop: "(min-width: 1024px)";

// Container Size
$containers: 95%;

// Padding
$addPadding: 40px;

// Placeholder Selectors

%family {
	font-family: $arimo;
}

%contain {
	width: 90%;
    margin: 0 auto;
}

%centeritems {
	text-align: center;
}